<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="androipro.com.br.controlecemig" >

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="androipro.com.br.controleEstoque.ActControle"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="androipro.com.br.controleEstoque.ActCadItens"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_act_cad_itens"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="androipro.com.br.controleEstoque.ActAnota"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_act_anota"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
